.event-info {
    margin: 10px;
    display: flex;
    align-items: center;
    background-color: #fdd;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
}

.event-info-img-container {
    float: left;
    width: 120px;
    height: 120px;
    border: 1px solid gray;
    position: relative;
}

.event-info-img-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 120px;
    max-height: 120px;
}

.event-info a {
    color: black;
}

.event-info a:hover {
    color: #555;
}

.event-info h3 {
    font-size: 20px;
    margin-top: 0;
}

.event-info p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.event-info b {
    margin-left: 5px;
}